@use "./mixins/breakpoint" as *;
@use "./mixins/disable-mob-hover" as *;
.actions {
  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: clamp(2rem, 1.8534rem + 0.6015vw, 2.5rem);
    grid-auto-flow: dense;
    @media (max-width: 1600px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 1366px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width:850px){
      grid-template-columns: repeat(2, 1fr);
    }
    @include mobile{
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.actions-item {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  @include mobile{
    width: 100%;
  }
  &--finished {
    .actions-item__image {
      filter: grayscale(0.5);
    }
  }
  &:not(.actions-item--big) {
    height: clamp(21.875rem, 14.8865rem + 10.9195vw, 26.625rem);
    transform: scale(1) translate3d(0, 0, 0);
    @include tablet {
      height: 100%;
    }
    @include hover {
      z-index: 50;
      transform: scale(1.05) translate3d(0, 0, 0);
      .actions-item__footer {
        margin-top: 40px;
        max-height: 80px;
        opacity: 1;
      }
    }
  }

  &--big {
    grid-column: 1 / -1;

    @include hover {
      &:hover {
        .actions-item__main-footer {
          opacity: 1;
        }
      }
    }
    @include mobile{
      order: -1;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(#000, 0.2);
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__content {
    position: relative;
    z-index: 50;
    padding:  clamp(2rem, 0.2956rem + 6.9925vw, 7.8125rem) clamp(1rem, -0.1729rem + 4.812vw, 5rem);
    @include mobile{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-height: 600px;
    }
  }
  &__main-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: clamp(2.875rem, 1.5188rem + 5.5639vw, 7.5rem);
    line-height: 1;
    text-transform: uppercase;
    color: var(--white);
    max-width: 46.875rem;
  }
  &__main-desc {
    margin-top: clamp(0.75rem, 0.2735rem + 1.9549vw, 2.375rem);
    max-width: 46.875rem;
    font-size: clamp(1rem, 0.8534rem + 0.6015vw, 1.5rem);
    color: var(--white);
  }
  &__main-footer {
    margin-top: 3.75rem;
    // opacity: 0;
    transition: 0.3s;
  }
  &__wrap {
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    left: 0;
    top: 50%;
    background: var(--gray-dark);
    @include tablet {
      display: flex;
      flex-direction: column;
      height: 100%;
      transform: none;
      position: relative;
      top: initial;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    height: 9.125rem;
    flex-shrink: 0;
  }
  &__value {
    padding-left: 0.75rem;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 7.5rem;
    text-transform: uppercase;
    color: var(--white);
  }
  &__body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    @include tablet{
      height: 100%;
    }
  }
  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(1.625rem, 1.2218rem + 1.6541vw, 3rem);
    line-height: 1;
    text-transform: uppercase;
    color: var(--white);
  }
  &__desc,
  &__time {
    font-size: clamp(0.875rem, 0.765rem + 0.4511vw, 1.25rem);
    color: var(--gray-light);
  }
  &__desc {
    margin: 1rem 0 2.5rem;
  }
  &__time {
    display: flex;
    align-items: flex-end;
    gap: 0.25rem;
    margin-top: auto;
  }
  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    flex-shrink: 0;
    margin-bottom: -4px;
    stroke-width: 0.125rem;
    stroke: var(--white);
  }
  &__image {
    display: block;
    height: 100%;
    width: 100%;
  }
  &__button {
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  &__footer {
    position: relative;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: 0.3s;
    @include tablet {
      margin-top: 1.25rem;
      max-height: inherit;
      opacity: 1;
    }
  }
}
