@use "./mixins/breakpoint" as *;

.automation {
  &__title {
    margin-bottom: clamp(2.0625rem, 1.7876rem + 1.1278vw, 3rem);
    text-wrap: balance;
  }

  &__head {
    margin-bottom: 3.75rem;
    margin-left: auto;
    max-width: 65.6%;

    @include tablet {
      max-width: 100%;
    }
  }

  &__desc {
    display: flex;
    font-size: clamp(1rem, 0.8534rem + 0.6015vw, 1.5rem);
    gap: clamp(1.5rem, 1.2068rem + 1.203vw, 2.5rem);

    @include mobile {
      flex-direction: column;
    }

    p {
      margin: 0;
      width: 50%;

      @include mobile {
        width: 100%;
      }
    }
  }

  &__slider {
    @include mobile {
      margin: 0 -16px;
    }
  }
}
