.banner {
  position: relative;
  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(#000, 0.2);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        black 0%,
        rgba(0, 0, 0, 0.7) 60%,
        transparent 100%
      );
    }
    img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  &__container {
    position: relative;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: clamp(0.25rem, -0.0432rem + 1.203vw, 1.25rem);
    padding: clamp(1.5625rem, 0.4995rem + 4.3609vw, 5.1875rem) 0;
    max-width: 53.75rem;
    color: var(--white);
  }
  &__title {
    font-family: var(--second-family);
    margin: 0;
    font-size: clamp(1.625rem, 1.0019rem + 2.5564vw, 3.75rem);
    font-weight: 400;
    text-transform: uppercase;
    color: var(--white);
  }
  &__desc {
    font-size: clamp(0.875rem, 0.6917rem + 0.7519vw, 1.5rem);
  }
}
