@use "./mixins/disable-mob-hover" as *;
@use "./mixins/breakpoint" as *;

.button {
  outline: 0;
  border: 0;
  padding: 0;
  text-align: center;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;

  svg {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 180 540;
    stroke-dashoffset: 100;
    stroke-width: 4px;
    transition: stroke-dashoffset 5s ease-in-out;
    animation: slide-in 5s infinite linear;
    pointer-events: none;
  }

  &--big {
    padding: clamp(0.5rem, 0.39rem + 0.4511vw, 0.875rem)
      clamp(2rem, 1.4868rem + 2.1053vw, 3.75rem)
      clamp(0.75rem, 0.6034rem + 0.6015vw, 1.25rem);
    font-size: clamp(1.125rem, 1.015rem + 0.4511vw, 1.5rem);
    line-height: normal;
  }

  &--round {
    position: relative;
    color: var(--white);

    &::before,
    &::after {
      content: "";
      position: absolute;
      border: 2px solid var(--white);
      width: 1.5rem;
      height: 1.5rem;
      transition: ease-out 0.3s;

      @include tablet {
        border-width: 1px;
        width: 13px;
        height: 13px;
      }
    }

    &::after {
      right: 0;
      top: 0;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    &::before {
      left: 0;
      bottom: 0;
      border-top-color: transparent;
      border-right-color: transparent;
    }

    @include hover {
      &:hover {
        &::before,
        &::after {
          width: 100%;
          height: 100%;
        }
      }

      &:active {
        background-color: rgba(255, 255, 255, 0.05);
      }
    }
  }

  &--white {
    color: var(--black);
    background-color: var(--white);

    @include hover {
      &:hover {
        background-color: #efefef;
      }
    }

    &:active {
      background-color: #dcdcdc;
    }
  }
}

@keyframes slide-in {
  from {
    stroke-dashoffset: 180;
  }

  to {
    stroke-dashoffset: -540;
  }
}
