@use "./mixins/disable-mob-hover" as *;
@use "./mixins/breakpoint" as *;
.hero {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(#000, 0.4);
    z-index: 50;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: clamp(2rem, 1.4868rem + 2.1053vw, 3.75rem);
    position: relative;
    z-index: 100;
    min-height: 100dvh;
  }
  &__row {
    display: flex;
    align-items: flex-end;
    gap: clamp(2rem, 1.1203rem + 3.609vw, 5rem);
    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }
  &__buttons {
    display: flex;
    gap: clamp(0.75rem, 0.2368rem + 2.1053vw, 2.5rem);
    flex-shrink: 0;

    @include mobile {
      width: 100%;
    }
  }
  &__desc {
    font-size: clamp(1rem, 0.8534rem + 0.6015vw, 1.5rem);
    line-height: normal;
    color: var(--white);
  }
  &__title {
    width: 100%;
    height: auto;
    path {
      transform: translateY(20px);
      opacity: 0;
    }
    &--desktop {
      @include mobile {
        display: none;
      }
    }
    &--mobile {
      display: none;
      @include mobile {
        display: block;
      }
    }
  }
  &__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 10;
  }
  &__button {
    @include mobile {
      width: 100%;
      padding: 0.5rem 0.75rem 0.75rem;
    }
  }
}
