@use "./mixins/breakpoint" as *;
@use "./mixins/disable-mob-hover" as *;
.modal {
  &__container {
    padding: clamp(1.25rem, 0.5169rem + 3.0075vw, 3.75rem);
    width: 96%;
    max-width: 57.5rem;
    box-sizing: border-box;
    background: var(--gray-dark);
  }
  &__content {
    height: 100%;
    overflow-y: auto;
    &--visible {
      overflow: visible;
    }
  }
  &__close {
    height: 2.5rem;
    width: 2.5rem;
    padding: 0;
    background-color: transparent;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    flex-shrink: 0;
    @include tablet {
      padding: 0.5rem;
    }
    svg {
      fill: var(--white);
      transition: 0.3s;
    }
    @include hover {
      &:hover {
        svg {
        }
      }
    }
  }
  &__close-icon {
    height: 100%;
    width: 100%;
    fill: var(--black);
  }
  &__title {
    font-size: clamp(1.125rem, 1.015rem + 0.4511vw, 1.5rem);
    font-weight: 400;
    color: var(--white);
  }
  &__header {
    margin-bottom: clamp(2.0625rem, 1.5677rem + 2.0301vw, 3.75rem);
    flex-shrink: 0;
  }
  &__desc {
    margin-top: 0.75rem;
  }
}
