@use "./mixins/breakpoint" as *;

.numbers {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;

    @include mobile {
      grid-template-columns: 1fr;
      gap: 2.5rem;
    }
  }

  &-item {
    &__value {
      font-weight: 400;
      font-style: normal;
      font-size: clamp(3.75rem, 3.0612rem + 2.9388vw, 6rem);
      line-height: normal;
      color: var(--green-dark);
    }

    &__desc {
      margin-top: 20px;
      border-top: 2px solid var(--gray-light);
      padding-top: 19px;
      font-weight: 400;
      font-style: normal;
      font-size: clamp(0.875rem, 0.6837rem + 0.8163vw, 1.5rem);
      line-height: normal;

      @include mobile {
        margin-top: 8px;
        padding-top: 8px;
      }
    }
  }
}
