.pagination-default {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: -0.5rem;
  height: 0.6875rem;

  .swiper-pagination-bullet {
    flex-shrink: 0;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--gray-base);

    &.swiper-pagination-bullet-active {
      background-color: var(--white);
      transform: scale(1.25);
    }
  }
}
