@use "./mixins/breakpoint" as *;

.product-features {
  &__grid {
    display: flex;
    flex-direction: column;
    gap: clamp(2.3125rem, 1.4328rem + 3.609vw, 5.3125rem);
  }
}

.product-features-item {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(2rem, 1.8534rem + 0.6015vw, 2.5rem);

  @include tablet {
    grid-template-columns: 1fr;
  }

  &:nth-child(2n + 1) {
    .product-features-item__image-container {
      margin-left: min(0px, (1760px - 100vw) / 2);
    }
  }

  &:nth-child(2n) {
    .product-features-item__image-container {
      margin-right: min(0px, (1760px - 100vw) / 2);
    }
  }

  &__image-container {
    position: relative;
    height: 645px;
    background-color: #1d1d1d;

    @include big-desktop {
      height: auto;
    }

    @include tablet {
      order: -1;
    }
  }

  &__image {
    aspect-ratio: 188 / 129;
  }

  &__label {
    position: absolute;

    &--type-1 {
      right: 0;
      top: 37%;
      max-width: 232px;

      &::after {
        content: "";
        position: absolute;
        right: 86%;
        top: 116%;
        width: 11.125rem;
        height: 6.8125rem;
        background: url("../img/product/label1.svg") no-repeat center;
        background-size: contain;
      }
    }

    &--type-2 {
      left: 8%;
      top: 18.3%;
      max-width: 244px;

      &::after {
        content: "";
        position: absolute;
        left: 64%;
        top: 105%;
        width: 275px;
        height: 98px;
        background: url("../img/product/label2.svg") no-repeat center;
        background-size: contain;
      }
    }

    &--type-3 {
      left: 23.7%;
      right: 0;
      top: 59.9%;
      max-width: 232px;

      &::after {
        content: "";
        position: absolute;
        left: 68%;
        right: 86%;
        top: 105%;
        width: 188px;
        height: 93px;
        background: url("../img/product/label3.svg") no-repeat center;
        background-size: contain;
      }
    }
  }

  &__label-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    color: var(--white);
  }

  &__label-desc {
    margin: 10px 0 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--gray\light);
  }

  &__content {
    position: sticky;
    right: 0;
    top: 120px;
    padding: clamp(0.75rem, 0.3468rem + 1.6541vw, 2.125rem)
      clamp(0.75rem, 0.2368rem + 2.1053vw, 2.5rem)
      clamp(0.75rem, 0.2368rem + 2.1053vw, 2.5rem);
  }

  &__title {
    margin-bottom: 24px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(1.625rem, 1.0019rem + 2.5564vw, 3.75rem);
    line-height: 1;
    text-transform: uppercase;
    color: var(--white);
  }

  &__desc {
    font-weight: 400;
    font-size: clamp(1rem, 0.8534rem + 0.6015vw, 1.5rem);
    color: var(--gray-light);
  }
}
