.reviews {
  &__row {
    display: flex;
  }
}

.reviews-item {
  position: relative;
  padding: 2.5rem;
  transition: flex-grow 0.3s ease-out;
  flex-grow: 1;
  flex: 1;
  width: 100%;
  border-left: 1px solid var(--white);
  border-right: 1px solid var(--white);
  &__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 12px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s 0.3s;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 2.5rem;
  }
  &:hover {
    flex-grow: 30;
    .reviews-item__content {
      // display: block;
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
    .reviews-item__project-name--vert {
      // position: absolute;
      opacity: 0;
      visibility: hidden;
    }
  }

  &__desc {
    font-size: 24px;
    color: var(--white);
  }
  &__name {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 60px;
    text-transform: uppercase;
    color: var(--white);
  }
  &__project-name {
    font-size: 24px;
    &--vert {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      // margin: 0 auto;
      // transition: 0.3s;
      transition-delay: 0.3s;
    }
  }
  &__bottom {
    margin-top: auto;
  }
}
