@use "./mixins/disable-mob-hover" as *;

.simplebar-track {
  background: var(--gray-dark);

  &.simplebar-vertical {
    width: 0.25rem;
  }
}

.simplebar-scrollbar {
  left: 1px;
  border: 0;
  width: 0.125rem;
  background: var(--gray-light);

  &::before {
    display: none;
  }
}

[data-simplebar] {
  @include hover {
    .simplebar-scrollbar {
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover {
      .simplebar-scrollbar {
        opacity: 1;
      }
    }
  }
}
