@use "./mixins/breakpoint" as *;
.skills {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: clamp(1rem, 0.6151rem + 1.5789vw, 2.3125rem);
  }
}
.skill-item {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 8px;
  &__progress-container {
    display: flex;
    position: relative;
    height: clamp(3.25rem, 2.7368rem + 2.1053vw, 5rem);
    width: clamp(3.25rem, 2.7368rem + 2.1053vw, 5rem);
  }
  &__icon {
    height: clamp(1.25rem, 1.0301rem + 0.9023vw, 2rem);
    width: clamp(1.25rem, 1.0301rem + 0.9023vw, 2rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__title {
    font-size: 0.875rem;
    color: var(--white);
  }
}
.progress-ring {
  height: clamp(3.25rem, 2.7368rem + 2.1053vw, 5rem);
  width: clamp(3.25rem, 2.7368rem + 2.1053vw, 5rem);
  &__value {
    stroke-dasharray: var(--p) 100;
    stroke-dashoffset: 0;
    transition: stroke-dasharray 0.4s ease;
    transform-origin: center;
  }
  &:not([style="--p:75"]) {
    transform: rotate(270deg);
  }
  &[style="--p:100"] {
    .progress-ring__value {
      stroke-dasharray: 101 100;
    }
  }
}
