.social {
  &__list {
    display: flex;
    gap: 2.5rem;
    &--big-gap {
      gap: clamp(1.25rem, 0.5169rem + 3.0075vw, 3.75rem);
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    &--lit {
      height: 1.625rem;
      width: 1.625rem;
    }
    &--big {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
  &__icon {
    height: 100%;
    width: 100%;
    fill: var(--white);
  }
}
