@use "./mixins/disable-mob-hover" as *;

.social {
  &__list {
    display: flex;
    gap: 2.5rem;

    &--lit-gap {
      gap: 1.25rem;
    }

    &--big-gap {
      gap: clamp(1.25rem, 0.5169rem + 3.0075vw, 3.75rem);
    }

    &--most-big-gap {
      gap: clamp(2.5rem, 1.7669rem + 3.0075vw, 5rem);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    @include hover {
      svg {
        fill: var(--gray-base);
      }
    }

    &--lit {
      width: 1.625rem;
      height: 1.625rem;
    }

    &--big {
      width: 2.5rem;
      height: 2.5rem;
    }

    &--most-big {
      width: clamp(2.5rem, 2.1335rem + 1.5038vw, 3.75rem);
      height: clamp(2.5rem, 2.1335rem + 1.5038vw, 3.75rem);
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
    fill: var(--white);
    transition: 0.3s;
  }
}
