.tabs {
  &__head {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-bottom: clamp(2rem, 1.8534rem + 0.6015vw, 2.5rem);
    &--big {
      margin-bottom: clamp(2rem, 1.4868rem + 2.1053vw, 3.75rem);
    }
  }
  &__head-item {
    &:not(:first-child) {
      .tabs__button--type-1:before {
        content: "/";
        margin: 0 clamp(0.75rem, 0.6034rem + 0.6015vw, 1.25rem);
        color: var(--white);
      }
    }
  }
  &__button {
    background: none;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    &--type-1 {
      font-size: clamp(1.625rem, 1.0019rem + 2.5564vw, 3.75rem);
      font-family: var(--second-family);

      text-transform: uppercase;
      color: var(--gray-base);

      &.js-active {
        color: var(--white);
      }
    }
    &--type-2 {
      position: relative;
      font-family: var(--second-family);
      font-weight: 400;
      font-size: clamp(1.25rem, 0.7368rem + 2.1053vw, 3rem);
      text-transform: uppercase;
      color: var(--white);
      padding: clamp(0.75rem, 0.5301rem + 0.9023vw, 1.5rem)
        clamp(1rem, 0.8534rem + 0.6015vw, 1.5rem);
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--white);
        transition: 0.3s;
      }
      &.js-active {
        &::after {
          width: 100%;
        }
      }
    }
  }
  &__body {
    position: relative;
  }
  &__content {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    position: absolute;
    width: 100%;
    &.js-active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      position: static;
    }
  }
}
