@use "./mixins/disable-mob-hover" as *;
@use "./mixins/breakpoint" as *;
.works {
  position: relative;
  &__main-slider {
    position: relative;
  }
  &__arrow {
    position: absolute;
    top: 0;
    height: 100%;
    width: 30%;
    z-index: 50;
    &--next {
      right: 0;
    }
  }
  &__main-slide {
    position: relative;
  }
  &__main-slider-image {
    height: 42.5rem;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__main-slider-content {
    position: absolute;
    width: 100%;
    bottom: clamp(1.375rem, 0.312rem + 4.3609vw, 5rem);
    left: 0;
    @include tablet {
      width: max-content;
    }
  }
  &__main-slider-info {
    position: relative;
    padding: clamp(1.25rem, 0.8835rem + 1.5038vw, 2.5rem);
    max-width: 26.4375rem;
    width: 100%;
    background-color: var(--black);
  }
  &__main-slider-name {
    font-family: var(--second-family);
    font-size: clamp(1.625rem, 1.0019rem + 2.5564vw, 3.75rem);
    text-transform: uppercase;
    color: var(--white);
  }
  &__main-slider-location {
    font-size: clamp(1rem, 0.8534rem + 0.6015vw, 1.5rem);
    color: var(--gray-light);
  }
  &__thumbs {
    // position: absolute;
    // bottom: 80px;
    // z-index: 50;
    max-width: 700px;
    margin-left: 27.6875rem;
  }
  &__thumbs-container {
    position: absolute;
    left: 0;
    bottom: 11.25rem;
    z-index: 50;
    width: 100%;

    pointer-events: none;
  }
  &__thumbs-item {
    position: relative;
    overflow: hidden;
    pointer-events: all;
    height: 6.25rem;
    cursor: pointer;
    img {
      height: 100%;
      width: 100%;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: 2px solid var(--white);
      transition: 0.3s;
      opacity: 0;
    }
    &.swiper-slide-thumb-active {
      &::before {
        opacity: 1;
      }
    }
  }
}
