<section class="section about">
  <div class="container">
    <div class="about__row">
      <div class="about__left">
        <div class="section__pretitle">Дилерам</div>
        <h2 class="section__title">
          мы&nbsp;производим
          —&nbsp;вы&nbsp;строите бизнес
        </h2>
        <div class="about__list">
          <div class="about__item corner corner--default">
            <div class="about__item-title">12k м²</div>
            <div class="about__item-desc">производственных площадей</div>
          </div>
          <div class="about__item corner corner--default">
            <div class="about__item-title">>350</div>
            <div class="about__item-desc">дилеров работают с нами</div>
          </div>
        </div>
        <div class="about__desc about__desc--desktop">
          <div class="about__desc-item">Высокое качество продукции: изготовление на автоматизированных линиях строго по
            стандартам</div>
          <div class="about__desc-item">
            Полный цикл производства:
            от замера до монтажа — удобно и надёжно
          </div>
          <div class="about__desc-item">Персональный подход: решения, которые учитывают все ваши потребности</div>
          <div class="about__desc-item">
            Надежность и долговечность: продукция, которая служит годами без нареканий
          </div>
        </div>
      </div>
      <div class="about__right">
        <div class="about__image-gallery image-gallery">
          <div class="image-gallery__item">
            <img class="image-gallery__item-picture" src="img/about/1.jpg" alt="">

          </div>
          <div class="image-gallery__item">
            <img class="image-gallery__item-picture" src="img/about/2.jpg" alt="">

          </div>
          <div class="image-gallery__item">
            <img class="image-gallery__item-picture" src="img/about/3.jpg" alt="">

          </div>
          <div class="image-gallery__item">
            <img class="image-gallery__item-picture" src="img/about/4.jpg" alt="">

          </div>
        </div>
        <div class="about__counter corner corner--bottom"><span>1</span>/4</div>
      </div>
      <div class="about__desc about__desc--mobile">
        <div class="about__desc-item">Высокое качество продукции: изготовление на автоматизированных линиях строго по
          стандартам</div>
        <div class="about__desc-item">
          Полный цикл производства:
          от замера до монтажа — удобно и надёжно
        </div>
        <div class="about__desc-item">Персональный подход: решения, которые учитывают все ваши потребности</div>
        <div class="about__desc-item">
          Надежность и долговечность: продукция, которая служит годами без нареканий
        </div>
      </div>

    </div>

  </div>
</section>