<section class="section advantages">
  <div class="container">
    <h2 class="section__title">ПРЕИМУЩЕСТВА</h2>
    <div class="advantages__items">
      <div class="advantages-item">
        <div class="advantages-item__title">
          Контроль качества
        </div>
        <div class="advantages-item__content">
          <div class="advantages-item__desc">
            На всех этапах производства внедрена система контроля, которая гарантирует стабильность и соответствие
            стандартам
          </div>
          <div class="advantages-item__image-wrap">
            <img src="img/advantages/1.svg" alt="" class="advantages-item__image">
          </div>
        </div>
      </div>
      <div class="advantages-item">
        <div class="advantages-item__title">
          Честная цена
        </div>
        <div class="advantages-item__content">
          <div class="advantages-item__desc">
            Прозрачное ценообразование без скрытых наценок. Вы платите только за то, что действительно получаете
          </div>
          <div class="advantages-item__image-wrap">
            <img src="img/advantages/2.svg" alt="" class="advantages-item__image">
          </div>
        </div>
      </div>
      <div class="advantages-item">
        <div class="advantages-item__title">
          Тёплые окна
        </div>
        <div class="advantages-item__content">
          <div class="advantages-item__desc">
            Используем энергоэффективные стеклопакеты и продуманные профили — комфорт в доме при любой погоде
          </div>
          <div class="advantages-item__image-wrap">
            <img src="img/advantages/3.svg" alt="" class="advantages-item__image">
          </div>
        </div>
      </div>
      <div class="advantages-item">
        <div class="advantages-item__title">
          Профессиональная команда
        </div>
        <div class="advantages-item__content">
          <div class="advantages-item__desc">
            Опытные специалисты работают над каждым проектом, обеспечивая индивидуальный подход и высокую культуру
            исполнения
          </div>
          <div class="advantages-item__image-wrap">
            <img src="img/advantages/4.svg" alt="" class="advantages-item__image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>