<section class="section appeals">
  <div class="container">
    <div class="section-head section-head--big-margin section-head--big-margin-mobile">
      <h2 class="section-head__title fadeDown">
        С какими проблемами обращаются
      </h2>
    </div>
    <div class="appeals__list fadeDown" data-marq-left>
      <div class="appeals__item">Сроки сорваны</div>
      <div class="appeals__item">Вешают лапшу на уши</div>
      <div class="appeals__item">Кривой it-продукт</div>
      <div class="appeals__item">Плохой менеджмент</div>
      <div class="appeals__item">Претензии к агентству</div>
      <div class="appeals__item">Не понимаете, что происходит в проекте</div>
      <div class="appeals__item">Проект встрял</div>
      <div class="appeals__item">Сроки сорваны</div>
      <div class="appeals__item">Вешают лапшу на уши</div>
      <div class="appeals__item">Кривой it-продукт</div>
      <div class="appeals__item">Плохой менеджмент</div>
      <div class="appeals__item">Претензии к агентству</div>
      <div class="appeals__item">Не понимаете, что происходит в проекте</div>
      <div class="appeals__item">Проект встрял</div>
    </div>
    <div class="appeals__list fadeDown" data-marq-right>
      <div class="appeals__item">Нет обратной связи</div>
      <div class="appeals__item">Фейковые показатели</div>
      <div class="appeals__item">Запутанная отчетность</div>
      <div class="appeals__item">Технические проблемы</div>
      <div class="appeals__item">Результата ноль</div>
      <div class="appeals__item">Низкое качество работ</div>
      <div class="appeals__item">Бюджет слит</div>
      <div class="appeals__item">Все в ошибках</div>
    </div>
    <button class="appeals__button button fadeDown" data-micromodal-trigger="callback">
      Разрулить
    </button>

  </div>
</section>