<div class="banner clip-path-right">
  <picture class="banner__picture">
    <source srcset="img/banner1.webp" type="image/webp">
    <img loading="lazy" src="img/banner1.jpg" class="image" width="1920" height="440" alt="">
  </picture>
  <div class="container banner__container">
    <div class="banner__content ">
      <h2 class="banner__title">Наши проекты — это результат доверия и качества</h2>
      <p class="banner__desc">Узнайте, как мы помогаем нашим клиентам улучшать пространство и комфорт</p>
    </div>
  </div>

</div>