<section class="section bid" id="bid">
  <div class="container">
    <div class="section-head">
      <h2 class="section-head__title fadeDown">Оставьте заявку</h2>
      <p class="section-head__desc fadeDown">
        Решим все ваши it-проблемы
      </p>
    </div>
    <div class="bid__row">
      <div class="bid__left">
        <div class="bid__image fadeDown">
          <picture>
            <source srcset="img/form_bg-new.webp" type="image/webp" />
            <img loading="lazy" src="img/form_bg-new.png" class="image" width="" height="" alt="" />
          </picture>
        </div>
        <div class="bid__links">
          <a class="bid__link fadeDown" href="tel:+78005555335">+7 (800) 555-53-35</a>
          <a class="bid__link fadeDown" href="mailto:pochta@yandex.ru">pochta@yandex.ru</a>
        </div>
      </div>
      <form action="#" class="form bid__form">
        <div class="form__wrap fadeDown">
          <div class="form__item">
            <input id="b-name" type="text" name="name" placeholder=" " class="form__input" />
            <label class="form__input-placeholder" for="b-name">Имя или компания</label>
          </div>
          <div class="form__item">
            <input id="b-phone" type="tel" name="phone" placeholder=" " class="form__input" />
            <label class="form__input-placeholder" for="b-phone">Телефон</label>
          </div>
          <div class="form__item">
            <input id="b-email" type="email" name="email" placeholder=" " class="form__input" />
            <label class="form__input-placeholder" for="b-email">Почта</label>
          </div>
          <div class="form__item">
            <input id="b-text" type="text" name="comment" placeholder=" " class="form__input" />
            <label class="form__input-placeholder" for="b-text">Расскажите о проблеме</label>
          </div>
          <div class="form__file-container form__file-container--big-margin" data-file>
            <input id="b-file" type="file" />
            <label for="b-file" class="form__file form__file">

              <svg class="form__file-icon">
                <use xlink:href="img/sprite.svg#file"></use>
              </svg>
              <span class="form-file__text" data-file-text="Прикрепить файл">Прикрепить файл</span>
            </label>
          </div>

          <button class="form__button form__button--big-margin button">
            Заказать звонок
          </button>
          <div class="form__policy">
            Нажимая «Заказать звонок», вы соглашаетесь с политикой
            конфиденциальности и обработки персональных данных
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
