<section class="section cases" id="cases">
  <div class="container">
    <div class="section-head section-head--big-margin">
      <h2 class="section-head__title fadeDown">
        Кейсы
      </h2>
    </div>
    <div class="swiper slider-default">
      <div class="swiper-wrapper">
        <div class="swiper-slide slider-default__slide fadeDown">
          <div class="slider-default__name slider-default__name--margin" data-micromodal-trigger="case-1">Агентство по
            продаже недвижимости в Краснодаре
          </div>
          <div class="slider-default__desc">
            К нам обратилось агентство по продаже недвижимости из Краснодара, которое уже два года мучается
            с разработкой своего сайта. Компания занимается элитной недвижимостью, но сайт, который должен был стать
            их визитной карточкой, оставался в стадии «в разработке».
            Нам необходимо было вникнуть в проект, обнаружить и решить проблему, которая мешала успешной сдаче сайта.
            В общем, задача была ясна: завершить затянувшуюся на 2 года разработку сайта и получить современный
            работающий сайт в кратчайшие сроки.
            Здесь мы выступали как ревизор, который должен быть понять, что и как там ломается, а главное — сделать так,
            чтобы сайт работал и был готов к использованию без лишних «проблем» и «недоделок».
          </div>
          <button class="slider-default__showmore" data-micromodal-trigger="case-1">Подробнее</button>
        </div>
        <div class="swiper-slide slider-default__slide fadeDown">
          <div class="slider-default__name slider-default__name--margin" data-micromodal-trigger="case-2">
            Поставщик сельскохозяйственной техники
          </div>
          <div class="slider-default__desc">
            Наш клиент — поставщик сельхозтехники и оборудования, который не просто продаёт железки, а реально заботится
            о качестве и стремится не отставать от времени. У него есть амбиции не только улучшать качество
            обслуживания, но и прокачивать своё присутствие на рынке.
            У него не было времени вникать в проект, поэтому он обратился к нам как к единственному варианту, который
            найдёт идеального подрядчика и проследит, чтобы все было сделано как надо, без суеты и глупых вопросов.
            Задача — создать современный сайт-витрину, который не будет выглядеть как дешёвый интернет-магазин с кучей
            ошибок. А ещё важно, чтобы этот сайт полностью соответствовал ожиданиям клиента, и все было сделано в срок.
          </div>
          <button class="slider-default__showmore" data-micromodal-trigger="case-2">Подробнее</button>
        </div>
        <div class="swiper-slide slider-default__slide fadeDown">
          <div class="slider-default__name slider-default__name--margin" data-micromodal-trigger="case-3">Аудит по SEO и
            контексту для медицинского
            центра в Перми</div>
          <div class="slider-default__desc">К нам обратился Медицинский центр из Перми, который начал сомневаться,
            что их старое рекламное агентство вообще когда‑то что‑то делало. Несколько лет они занимались SEO
            и настраивали контекстную рекламу для центра. Звёзд с неба не хватали, но результаты были, и весьма
            стабильными. А вот за последний год что‑то пошло не так. Вместо роста заявок — полное затишье.
            Возникли сомнения, а так ли хорошо агентство продвигает сайт и делает ли вообще что‑то? Не держит свои
            обещания, а центр остался в замешательстве, честно ли выполняются обязательства или им просто пудрят мозги.
          </div>
          <button class="slider-default__showmore" data-micromodal-trigger="case-3">Подробнее</button>
        </div>
        <div class="swiper-slide slider-default__slide fadeDown">
          <div class="slider-default__name slider-default__name--margin" data-micromodal-trigger="case-4">Бренд одежды
            из Санкт-Петербурга</div>
          <div class="slider-default__desc">К нам обратился бренд одежды из Санкт-Петербурга с историей, как агентство
            обещало качественный продукт, а в итоге сдало мобильную версию сайта, которая работает,
            как если бы её делала обезьяна с клавиатурой. Проект закрыли, все, казалось бы, сдано, но сайт — полный
            провал. Он «работает», но так, что, скорее, тормозит бизнес, чем помогает. Ну и классика жанра — все,
            что осталось после сдачи, — это бессмысленные обещания и куча багов.</div>
          <button class="slider-default__showmore" data-micromodal-trigger="case-4">Подробнее</button>
        </div>
        <div class="swiper-slide slider-default__slide fadeDown">
          <div class="slider-default__name slider-default__name--margin" data-micromodal-trigger="case-1">Агентство по
            продаже недвижимости в Краснодаре
          </div>
          <div class="slider-default__desc">
            К нам обратилось агентство по продаже недвижимости из Краснодара, которое уже два года мучается
            с разработкой своего сайта. Компания занимается элитной недвижимостью, но сайт, который должен был стать
            их визитной карточкой, оставался в стадии «в разработке».
            Нам необходимо было вникнуть в проект, обнаружить и решить проблему, которая мешала успешной сдаче сайта.
            В общем, задача была ясна: завершить затянувшуюся на 2 года разработку сайта и получить современный
            работающий сайт в кратчайшие сроки.
            Здесь мы выступали как ревизор, который должен быть понять, что и как там ломается, а главное — сделать так,
            чтобы сайт работал и был готов к использованию без лишних «проблем» и «недоделок».
          </div>
          <button class="slider-default__showmore" data-micromodal-trigger="case-1">Подробнее</button>
        </div>
        <div class="swiper-slide slider-default__slide fadeDown">
          <div class="slider-default__name slider-default__name--margin" data-micromodal-trigger="case-2">
            Поставщик сельскохозяйственной техники
          </div>
          <div class="slider-default__desc">
            Наш клиент — поставщик сельхозтехники и оборудования, который не просто продаёт железки, а реально заботится
            о качестве и стремится не отставать от времени. У него есть амбиции не только улучшать качество
            обслуживания, но и прокачивать своё присутствие на рынке.
            У него не было времени вникать в проект, поэтому он обратился к нам как к единственному варианту, который
            найдёт идеального подрядчика и проследит, чтобы все было сделано как надо, без суеты и глупых вопросов.
            Задача — создать современный сайт-витрину, который не будет выглядеть как дешёвый интернет-магазин с кучей
            ошибок. А ещё важно, чтобы этот сайт полностью соответствовал ожиданиям клиента, и все было сделано в срок.
          </div>
          <button class="slider-default__showmore" data-micromodal-trigger="case-2">Подробнее</button>
        </div>
        <div class="swiper-slide slider-default__slide fadeDown">
          <div class="slider-default__name slider-default__name--margin" data-micromodal-trigger="case-3">Аудит по SEO и
            контексту для медицинского
            центра в Перми</div>
          <div class="slider-default__desc">К нам обратился Медицинский центр из Перми, который начал сомневаться,
            что их старое рекламное агентство вообще когда‑то что‑то делало. Несколько лет они занимались SEO
            и настраивали контекстную рекламу для центра. Звёзд с неба не хватали, но результаты были, и весьма
            стабильными. А вот за последний год что‑то пошло не так. Вместо роста заявок — полное затишье.
            Возникли сомнения, а так ли хорошо агентство продвигает сайт и делает ли вообще что‑то? Не держит свои
            обещания, а центр остался в замешательстве, честно ли выполняются обязательства или им просто пудрят мозги.
          </div>
          <button class="slider-default__showmore" data-micromodal-trigger="case-3">Подробнее</button>
        </div>
        <div class="swiper-slide slider-default__slide fadeDown">
          <div class="slider-default__name slider-default__name--margin" data-micromodal-trigger="case-4">Бренд одежды
            из Санкт-Петербурга</div>
          <div class="slider-default__desc">К нам обратился бренд одежды из Санкт-Петербурга с историей, как агентство
            обещало качественный продукт, а в итоге сдало мобильную версию сайта, которая работает,
            как если бы её делала обезьяна с клавиатурой. Проект закрыли, все, казалось бы, сдано, но сайт — полный
            провал. Он «работает», но так, что, скорее, тормозит бизнес, чем помогает. Ну и классика жанра — все,
            что осталось после сдачи, — это бессмысленные обещания и куча багов.</div>
          <button class="slider-default__showmore" data-micromodal-trigger="case-4">Подробнее</button>
        </div>


      </div>
      <div class="slider-default__arrows">
        <div class="slider-default__arrow slider-default__arrow--prev ">
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow_left"></use>
          </svg>
        </div>
        <div class="slider-default__arrow slider-default__arrow--next">
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow_right"></use>
          </svg>
        </div>

      </div>


    </div>


  </div>
</section>
