<section class="section experts">
  <div class="container">
    <div class="section-head section-head--big-margin">
      <h2 class="section-head__title fadeDown">
        Наши эксперты
      </h2>
    </div>
    <div class="experts__wrap">
      <div class="experts__row">
        <div class="experts__item-container fadeDown">
          <div class="experts-item fadeDown ">
            <div class="experts-item__title">01/ Следят за продвижением от ТЗ до релиза</div>
            <div class="experts-item__desc">Никаких проволочек и пустых обещаний</div>
          </div>
        </div>
        <div class="experts__item-container fadeDown">
          <div class="experts-item">
            <div class="experts-item__title">02/ Ходят на все митапы и&nbsp;отвечаюти&nbsp;в чатах за вас</div>
            <div class="experts-item__desc">Даже если вопрос касается цвета кнопки. Мы ставим точку быстро и эффективно
            </div>
          </div>
        </div>
        <div class="experts__item-container fadeDown">
          <div class="experts-item">
            <div class="experts-item__title">03/ Жёстко проверяют качество работ и проводят аудиты</div>
            <div class="experts-item__desc">SEO, контекст, SMM — находим слабые места и заставляем их исправить</div>
          </div>
        </div>
        <div class="experts__item-container fadeDown">
          <div class="experts-item">
            <div class="experts-item__title">04/ Выводят отчёты на чистую воду и справедливо оценивают бюджет</div>
            <div class="experts-item__desc">Никакой воды и размытых KPI, вы платите только за то, что реально работает
            </div>
          </div>
        </div>

        <div class="experts__item-container fadeDown">
          <div class="experts-item">
            <div class="experts-item__title">05/ Контролируют спринты и устраняют риски</div>
            <div class="experts-item__desc">Вы всегда знаете, что и когда будет сделано</div>
          </div>
        </div>
        <div class="experts__item-container fadeDown">
          <div class="experts-item">
            <div class="experts-item__title">06/ Завершают проект</div>
            <div class="experts-item__desc">Вовремя, качественно, без лишней драмы</div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-footer">
      <div class="section-footer__wrap fadeDown">
        <div class="section-footer__title">
          Короче,
        </div>
        <div class="section-footer__desc">
          Мы — ваш независимый эксперт, который знает все нюансы ИТ и помогает развивать бизнес в digital с минимальными
          рисками
        </div>
      </div>

    </div>
  </div>
</section>
