<section class="section faq" id="what-you-do">
  <div class="container">
    <div class="section-head section-head--big-margin">
      <h2 class="section-head__title fadeDown">
        Что вы получите
      </h2>
    </div>
    <div class="faq__items accordion" itemscope itemtype="https://schema.org/FAQPage">
      <div class="faq-item accordion-item fadeDown" itemscope itemprop="mainEntity"
        itemtype="https://schema.org/Question">
        <div class="faq-item__head" itemprop="name">
          Проект завершен в срок
          <svg class="faq-item__icon">
            <use xlink:href="img/sprite.svg#plus"></use>
          </svg>
        </div>
        <div class="faq-item__body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <p itemprop="text">
            Благодаря постоянному контролю и выявлению проблем на ранних стадиях, агентство соблюдает установленные
            сроки
          </p>
        </div>
      </div>

      <div class="faq-item fadeDown accordion-item" itemscope itemprop="mainEntity"
        itemtype="https://schema.org/Question">
        <div class="faq-item__head" itemprop="name">
          Минимизация рисков
          <svg class="faq-item__icon">
            <use xlink:href="img/sprite.svg#plus"></use>
          </svg>
        </div>
        <div class="faq-item__body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <p itemprop="text">
            Срывы сроков, перерасход бюджета или некачественная работа подрядчика сводятся к минимуму
          </p>
        </div>
      </div>

      <div class="faq-item fadeDown accordion-item" itemscope itemprop="mainEntity"
        itemtype="https://schema.org/Question">
        <div class="faq-item__head" itemprop="name">
          Гарантированное качество работы
          <svg class="faq-item__icon">
            <use xlink:href="img/sprite.svg#plus"></use>
          </svg>
        </div>
        <div class="faq-item__body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <p itemprop="text">
            Каждый этап проверен профессионалами: вы уверены, что подрядчики соблюдают стандарты разработки
            и предоставляют именно то, что было обещано
          </p>
        </div>
      </div>

      <div class="faq-item fadeDown accordion-item" itemscope itemprop="mainEntity"
        itemtype="https://schema.org/Question">
        <div class="faq-item__head" itemprop="name">
          Экономия времени
          <svg class="faq-item__icon">
            <use xlink:href="img/sprite.svg#plus"></use>
          </svg>
        </div>
        <div class="faq-item__body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <p itemprop="text">
            Вам не нужно тратить ресурсы на постоянный контроль подрядчиков — наши эксперты берут эту задачу на себя
          </p>
        </div>
      </div>

      <div class="faq-item fadeDown accordion-item" itemscope itemprop="mainEntity"
        itemtype="https://schema.org/Question">
        <div class="faq-item__head" itemprop="name">
          Экономия бюждетов
          <svg class="faq-item__icon">
            <use xlink:href="img/sprite.svg#plus"></use>
          </svg>
        </div>
        <div class="faq-item__body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <p itemprop="text">
            Вы сможете сэкономить, когда мы оценим эффективность и обоснованность затрат и укажем, где можно и нужно
            потратить меньше
          </p>
        </div>
      </div>
      <div class="faq-item fadeDown accordion-item" itemscope itemprop="mainEntity"
        itemtype="https://schema.org/Question">
        <div class="faq-item__head" itemprop="name">
          Повышение эффективности подрядчика
          <svg class="faq-item__icon">
            <use xlink:href="img/sprite.svg#plus"></use>
          </svg>
        </div>
        <div class="faq-item__body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <p itemprop="text">
            Благодаря анализу работы digital-агентства, их действия становятся более организованными
            и целенаправленными, что ускоряет реализацию задач
          </p>
        </div>
      </div>
      <div class="faq-item fadeDown accordion-item" itemscope itemprop="mainEntity"
        itemtype="https://schema.org/Question">
        <div class="faq-item__head" itemprop="name">
          Прозрачность процессов
          <svg class="faq-item__icon">
            <use xlink:href="img/sprite.svg#plus"></use>
          </svg>
        </div>
        <div class="faq-item__body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <p itemprop="text">
            Вы всегда знаете, что происходит с вашим проектом: регулярные отчёты, понятная документация и простые ответы
            на любые вопросы
          </p>
        </div>
      </div>
      <div class="faq-item fadeDown accordion-item" itemscope itemprop="mainEntity"
        itemtype="https://schema.org/Question">
        <div class="faq-item__head" itemprop="name">
          Долгосрочные улучшения
          <svg class="faq-item__icon">
            <use xlink:href="img/sprite.svg#plus"></use>
          </svg>
        </div>
        <div class="faq-item__body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <p itemprop="text">
            Вы получаете рекомендации для оптимизации процессов разработки, а также для дальнейшего сотрудничества
            с подрядчиками или выбора новых
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
