<section class="section how-we-work" id="how-we-work">
  <div class="container">
    <div class="section-head section-head--big-margin">
      <h2 class="section-head__title">
        Как мы работаем
      </h2>
    </div>
    <svg class="how-we-work__svg" width="1920" height="273" viewBox="0 0 1920 273" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path class="how-we-work__path-1"
        d="M-115 149.5C-57.8333 109.333 95.9476 18.6199 255.5 15C542 8.5 627.586 144.469 774 149.5C1065 159.5 1104.5 57 1284 50C1420.76 44.6667 1505.5 135.5 1729.5 135.5C1864.5 135.5 1981.5 48.5 2066.5 5"
        stroke="#6BFFB0" stroke-width="10" stroke-linecap="round" />
      <path class="how-we-work__path-2"
        d="M-44 10.686C13.1667 50.8527 166.948 141.566 326.5 145.186C613 151.686 698.586 15.7174 845 10.686C1136 0.686035 1175.5 103.186 1355 110.186C1491.76 115.519 1576.5 24.686 1800.5 24.686C1935.5 24.686 2052.5 111.686 2137.5 155.186C2194 184.101 2264.2 193 2369 193"
        stroke="#6BFFB0" stroke-width="20" stroke-linecap="round" />
      <path class="how-we-work__path-3" style="display: none;"
        d="M-253 149.5C-195.833 109.333 -42.0524 18.6199 117.5 15C404 8.5 489.586 144.469 636 149.5C927 159.5 966.5 57 1146 50C1282.76 44.6667 1367.5 135.5 1591.5 135.5C1726.5 135.5 1843.5 48.5 1928.5 5"
        stroke="#6BFFB0" stroke-width="10" stroke-linecap="round" />
      <path class="how-we-work__path-4" style="display: none;"
        d="M-473 10.686C-415.833 50.8527 -262.052 141.566 -102.5 145.186C184 151.686 269.586 15.7174 416 10.686C707 0.686035 746.5 103.186 926 110.186C1062.76 115.519 1147.5 24.686 1371.5 24.686C1506.5 24.686 1623.5 111.686 1708.5 155.186C1765 184.101 1835.2 193 1940 193"
        stroke="#6BFFB0" stroke-width="20" stroke-linecap="round" />

    </svg>
    <div class="how-we-work__grid">
      <div class="how-we-work-item">
        <div class="how-we-work-item__desc">
          Проводим консультацию без лишних формальностей. Сразу уточняем требования, забираем все данные и идём к сути
        </div>
      </div>
      <div class="how-we-work-item">
        <div class="how-we-work-item__desc">
          Разбираемся в ситуации: ищем причины проблемы, проводим аудит it-систем или технологий. Находим всё,
          что тормозит или не работает
        </div>
      </div>
      <div class="how-we-work-item">
        <div class="how-we-work-item__desc">
          Формулируем отчёт с правками для подрядчика, проверяем спринты и разрабатываем оптимальный план действий
          для быстрого и эффективного решения проблемы
        </div>
      </div>
      <div class="how-we-work-item">
        <div class="how-we-work-item__desc">
          Контролируем реализацию плана поэтапно: согласовываем все изменения с подрядчиком, проверяем выполненные
          работы и отчитываемся вам о продвижении
        </div>
      </div>
      <div class="how-we-work-item">
        <div class="how-we-work-item__desc">
          Разрабатываем коммерческое предложение*. В нём уже есть чёткое решение и путь к устранению всех найденных
          проблем. Если вам действительно нужно их исправить — получите план действий без воды
        </div>
      </div>

    </div>
    <div class="how-we-work__note">
      *Не всегда результатом нашей работы являются четкие рекомендации или план действий. В некоторых ситуациях
      улучшения не требуются
    </div>
  </div>
</section>
