<section class="section section--big-padding main-offer">
  <div class="container container--relative">
    <picture class="main-offer__decor main-offer__decor--1 fadeDown">
      <source srcset="img/main-offer_decor_1.webp" type="image/webp">
      <img loading="lazy" src="img/main-offer_decor_1.png" class="image" width="" height="" alt="">
    </picture>
    <picture class="main-offer__decor main-offer__decor--2 fadeDown">
      <source srcset="img/main-offer_decor_2.webp" type="image/webp">
      <img loading="lazy" src="img/main-offer_decor_2.png" class="image" width="" height="" alt="">
    </picture>
    <div class="main-offer__content">
      <h2 class="main-offer__title fadeDown">
        Ответим на все ваши вопросы
      </h2>
      <div class="main-offer__desc fadeDown">
        Сориентируем по срокам и стоимости
      </div>
      <button class="button main-offer__button fadeDown" data-micromodal-trigger="callback">
        Забронировать встречу
      </button>
    </div>
  </div>
</section>
