<section class="section numbers">
  <div class="container">
    <div class="section-head section-head--big-margin">
      <h2 class="section-head__title fadeDown">
        О нас в цифрах и фактах
      </h2>
    </div>
    <div class="numbers__grid">
      <div class="numbers-item">
        <div class="numbers-item__value fadeDown">
          <span data-number-animate>26</span>
        </div>
        <div class="numbers-item__desc fadeDown">Реализованных проектов</div>

      </div>
      <div class="numbers-item">
        <div class="numbers-item__value fadeDown">
          <span data-number-animate>100</span>%
        </div>
        <div class="numbers-item__desc fadeDown">Успешных аудитов</div>

      </div>
      <div class="numbers-item">
        <div class="numbers-item__value fadeDown">
          <span data-number-animate>5</span>+
        </div>
        <div class="numbers-item__desc fadeDown">Лет опыта</div>

      </div>
    </div>


  </div>
</section>
