<section class="offer section">
  <picture class="offer__picture">
    <source srcset="img/offer_mob.webp" type="image/webp" media="(max-width: 576px)">
    <source srcset="img/offer_mob.png" media="(max-width: 576px)">
    <source srcset="img/offer_bg.webp" type="image/webp">
    <img loading="lazy" src="img/offer_bg.png" class="image fadeDown" width="634" height="1342" alt="">
  </picture>
  <div class="container">
    <div class="offer__content">
      <h2 class="offer__title fadeDown">
        Знакомо?
      </h2>
      <p class="offer__desc fadeDown">Оставьте заявку, и мы решим эту проблему за вас</p>
      <button class="offer__button button fadeDown" data-micromodal-trigger="callback">Оставить заявку</button>
    </div>

  </div>
</section>
