<section class="section price" id="price">
  <div class="container">
    <div class="section-head section-head--big-margin">
      <h2 class="section-head__title">
        Сколько стоит
      </h2>
    </div>
    <div class="price__grid">
      <div class="price-item">
        <div class="price-item__value">
          <span>50 000</span> ₽
        </div>
        <div class="price-item__name">
          «Базовый контроль»
        </div>
        <div class="price-item__desc">Подходит для небольших проектов или разовых задач</div>
        <ul class="price-item__list">
          <li class="price-item__item">Чек-ап процессов разработки</li>
          <li class="price-item__item">Разбор и выявление ключевых проблем</li>
          <li class="price-item__item">Отчет с рекомендациями по исправлению</li>
          <li class="price-item__item">Разовая проверка реализации</li>
        </ul>
        <button class="price-item__button button" data-micromodal-trigger="callback">
          Заказать
        </button>
      </div>
      <div class="price-item">
        <div class="price-item__value">
          <span>150 000</span> ₽
        </div>
        <div class="price-item__name">
          «Глубокий аудит»
        </div>
        <div class="price-item__desc">Оптимальный вариант для тех, кто хочет детально разобраться в работе подрядчика
        </div>
        <ul class="price-item__list">
          <li class="price-item__item">Чек-ап процессов разработки</li>
          <li class="price-item__item">Разбор и выявление ключевых проблем</li>
          <li class="price-item__item">Отчет с рекомендациями по исправлению</li>
          <li class="price-item__item">Разовая проверка реализации</li>
        </ul>
        <button class="price-item__button button" data-micromodal-trigger="callback">
          Заказать
        </button>
      </div>
      <div class="price-item">
        <div class="price-item__value">
          <span>300 000</span> ₽
        </div>
        <div class="price-item__name">
          «Полный контроль»
        </div>
        <div class="price-item__desc">Подходит для крупных и долгосрочных проектов, где важно не только исправить
          ошибки, но и обеспечить высокое качество работы</div>
        <ul class="price-item__list">
          <li class="price-item__item">Разработка плана исправлений и контроля</li>
          <li class="price-item__item">Регулярные проверки каждого этапа</li>
          <li class="price-item__item">Контроль всех спринтов и тестирования</li>
          <li class="price-item__item">Консультации по бюджетам и срокам</li>
        </ul>
        <button class="price-item__button button" data-micromodal-trigger="callback">
          Заказать
        </button>
      </div>
    </div>


  </div>
</section>
