<section class="section production">
  <div class="container">
    <div class="section__pretitle">Клиентам</div>
    <h2 class="section__title">производим</h2>
    <div class="swiper production__slider production__slider--js">
      <div class="swiper-wrapper">
        <div class="swiper-slide production-slide">
          <div class="production-slide__image-container">
            <img class="production-slide__image-placeholder" src="img/production/1.svg" alt="">
            <img class="production-slide__image" src="img/production/1.png" alt="">
            <div class="reveal"></div>
          </div>
          <div class="production-slide__name">витражи</div>

        </div>
        <div class="swiper-slide production-slide">
          <div class="production-slide__image-container">
            <img class="production-slide__image-placeholder" src="img/production/2.svg" alt="">
            <img class="production-slide__image" src="img/production/2.png" alt="">
            <div class="reveal"></div>
          </div>
          <div class="production-slide__name">окна</div>

        </div>
        <div class="swiper-slide production-slide">
          <div class="production-slide__image-container">
            <img class="production-slide__image-placeholder" src="img/production/3.svg" alt="">
            <img class="production-slide__image" src="img/production/3.png" alt="">
            <div class="reveal"></div>
          </div>
          <div class="production-slide__name">Балконы</div>

        </div>
        <div class="swiper-slide production-slide">
          <div class="production-slide__image-container">
            <img class="production-slide__image-placeholder" src="img/production/4.svg" alt="">
            <img class="production-slide__image" src="img/production/4.png" alt="">
            <div class="reveal"></div>
          </div>
          <div class="production-slide__name">Порталы</div>

        </div>


      </div>
      <div class="production__pagination pagination-default"></div>
      <div class="production__nav">
        <div class="production__arrow production__arrow--prev">
          <svg class="production__arrow-icon">
            <use xlink:href="img/sprite.svg#arrow_left"></use>
          </svg>
        </div>
        <div class="production__arrow production__arrow--next">
          <svg class="production__arrow-icon">
            <use xlink:href="img/sprite.svg#arrow_right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>