<div class="quote">
    <picture class="quote__picture">
        <source srcset="img/quote.webp" type="image/webp">
        <img src="img/quote.jpg" alt="">
    </picture>
    <div class="quote__content">
        <div class="container">
            <div class="quote__title corner corner--default">
                «Галерея окон» — ваш надёжный партнёр для дилеров и уверенный выбор для тех, кто ценит качество. Мы производим, сопровождаем и устанавливаем — с заботой о каждом клиенте
            </div>
        </div>
    </div>
</div>