<section class="section reviews">
  <div class="container">
    <h2 class="section__title">
      о нас говорят
    </h2>
    <div class="reviews__row">
      <div class="reviews-item js-active">
        <div class="reviews-item__project-name reviews-item__project-name--vert">Коттедж в Курской области</div>
        <div class="reviews-item__content">
          <div class="reviews-item__desc">
            Долго выбирали компанию для остекления нового дома. «Галерея окон» сразу выделилась профессиональным
            подходом
            и вниманием к деталям. Установили окна быстро, без лишней суеты, а результат превзошёл ожидания — в доме
            стало
            тепло, тихо и уютно. Особенно понравилось, что учли все наши пожелания по дизайну!
          </div>
          <div class="reviews-item__bottom corner corner--bottom">
            <div class="reviews-item__name">Алексей Буров</div>
            <div class="reviews-item__project-name">Коттедж в Курской области</div>
          </div>
        </div>


      </div>
      <div class="reviews-item">
        <div class="reviews-item__project-name reviews-item__project-name--vert">Коттедж в Курской области</div>
        <div class="reviews-item__content">

          <div class="reviews-item__desc">
            Для нашего офиса был важен не только современный внешний вид окон, но и их надёжность. «Галерея окон»
            показала высокий уровень профессионализма: качественные материалы, точное соблюдение сроков и аккуратный
            монтаж. Теперь наш офис выглядит стильно и солидно, а сотрудники довольны комфортом
          </div>
          <div class="reviews-item__bottom">
            <div class="reviews-item__name">Сергей Кузнецов</div>
            <div class="reviews-item__project-name">Курскпромбанк, ул. Дзержинского</div>
          </div>
        </div>


      </div>
      <div class="reviews-item">
        <div class="reviews-item__project-name reviews-item__project-name--vert">Лицей №6, ул. Радищева</div>
        <div class="reviews-item__content">
          <div class="reviews-item__desc">
            Для нашего лицея требовались окна, которые обеспечивают тепло, свет и безопасность для учащихся. «Галерея
            окон» справилась с задачей на отлично! Установка прошла быстро, без лишнего шума, а качество окон заметно
            сразу. Благодарим за ваш вклад в комфорт наших детей
          </div>
          <div class="reviews-item__bottom">
            <div class="reviews-item__name">Марина Петрова</div>
            <div class="reviews-item__project-name">Лицей №6, ул. Радищева</div>
          </div>
        </div>


      </div>

      <div class="reviews-item">
        <div class="reviews-item__project-name reviews-item__project-name--vert">Магазин «Промстройматериалы»</div>
        <div class="reviews-item__content">
          <div class="reviews-item__desc">
            В магазине важно поддерживать оптимальный микроклимат для товаров и комфорт для покупателей. «Галерея окон»
            предложила решение, которое идеально подошло под наши требования. Установка прошла оперативно, а результат
            радует как нас, так и наших клиентов
          </div>
          <div class="reviews-item__bottom">
            <div class="reviews-item__name">Дмитрий Волков</div>
            <div class="reviews-item__project-name">Магазин «Промстройматериалы»</div>
          </div>
        </div>


      </div>
      <div class="reviews-item">
        <div class="reviews-item__project-name reviews-item__project-name--vert">Квартира в г. Орёл</div>
        <div class="reviews-item__content">
          <div class="reviews-item__desc">
            Обращалась как частный клиент. С первого звонка чувствовалось, что здесь умеют слушать и советовать.
            Подобрали окна с хорошей шумоизоляцией и провели монтаж в срок. Приятно работать с профессионалами — буду
            рекомендовать знакомым.
          </div>
          <div class="reviews-item__bottom">
            <div class="reviews-item__name">Светлана Климова</div>
            <div class="reviews-item__project-name">Квартира в г. Орёл</div>
          </div>
        </div>


      </div>
      <div class="reviews-item">
        <div class="reviews-item__project-name reviews-item__project-name--vert">Дом в Курской области</div>
        <div class="reviews-item__content">
          <div class="reviews-item__desc">
            Заказывали окна для загородного дома. Команда «Галерея окон» помогла выбрать идеальные варианты, которые
            не только функциональны, но и выглядят очень стильно. Установка прошла быстро, а результат радует каждый
            день. Рекомендую всем!
          </div>
          <div class="reviews-item__bottom  corner corner--top">
            <div class="reviews-item__name">Ирина Смирнова</div>
            <div class="reviews-item__project-name">Дом в Курской области</div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>