<section class="section tasks">
  <div class="container">
    <h2 class="section__title">
      под любые задачи
    </h2>
    <div class="tasks__items">
      <div class="tasks-item js-active">
        <div class="tasks-item__row">
          <div class="tasks-item__image clip-path-right">
            <img src="img/tasks/1.jpg" alt="">
          </div>
          <div class="tasks-item__content corner corner--default">
            <div class="tasks-item__title">
              Индивидуальные проекты
            </div>
            <div class="tasks-item__desc">
              Мы создаём конструкции, которые идеально вписываются в ваш проект. Учитываем все: от архитектурных
              особенностей до мельчайших деталей дизайна. Точные расчёты, безупречная геометрия и материалы высочайшего
              качества — всё это гарантирует долговечность и стиль, который впечатляет
            </div>
          </div>
        </div>
      </div>
      <div class="tasks-item">
        <div class="tasks-item__row tasks-item__row--flex-end">
          <div class="tasks-item__image clip-path-right">
            <img src="img/tasks/2.jpg" alt="">
          </div>
          <div class="tasks-item__content corner corner--default">
            <div class="tasks-item__title">
              типовые решения
            </div>
            <div class="tasks-item__desc">
              Нужны проверенные варианты? Мы предлагаем продукцию по стандартным параметрам для жилых и коммерческих
              объектов. Быстро и надёжно — всё готово к установке. Экономьте время и получайте результат, который
              работает
            </div>
          </div>
        </div>
      </div>
      <img class="tasks__image" src="img/tasks/window.svg" alt="">
    </div>
  </div>
</section>