<section class="section cases" id="reviews">
  <div class="container">
    <div class="section-head section-head--big-margin">
      <h2 class="section-head__title fadeDown">
        Нам доверяют
      </h2>
    </div>
    <div class="swiper slider-default">
      <div class="swiper-wrapper">
        <div class="swiper-slide slider-default__slide fadeDown">
          <div class="slider-default__desc">
            Хотим выразить искреннюю благодарность за ваш профессионализм и терпение. После двух лет ожидания мы были
            уверены, что придётся сменить подрядчика и начинать разработку заново, но ваша команда смогла выявить слабые
            места и помогла завершить проект всего за 4 месяца. И мы наконец‑то запустили сайт. Работать с вами было
            настоящим удовольствием — профессионализм на каждом этапе, оперативность в решении вопросов и внимательное
            отношение к деталям, а главное — простое и понятное общение с нашим маркетологом.
          </div>
          <div class="slider-default__footer">
            <div class="slider-default__name">
              Алексей Пастушенко
            </div>
            <div class="slider-default__pos">
              Генеральный директор агентства по продаже недвижимости
            </div>
          </div>
        </div>
        <div class="swiper-slide slider-default__slide fadeDown">
          <div class="slider-default__desc">
            Мы изначально искали куратора, который поможет нам подобрать подрядчика для разработки красивого
            и функционального сайта. Ребята сделали всё на высшем уровне — нашли студию, разработавшую сайт, который
            полностью соответствует нашим ожиданиям. Участие с нашей стороны было минимальным, всего пару часов в месяц.
            Все этапы были чётко организованы, и мы всегда знали, на каком этапе находимся. Результат превзошёл все наши
            ожидания, и мы с радостью рекомендуем!
          </div>
          <div class="slider-default__footer">
            <div class="slider-default__name">
              Ольга Иванова
            </div>
            <div class="slider-default__pos">
              Коммерческий директор дистрибьютора сельхозтехники
            </div>
          </div>
        </div>
        <div class="swiper-slide slider-default__slide fadeDown">
          <div class="slider-default__desc">
            Мы столкнулись с ситуацией, когда агентство создавало видимость работы, но не давало реальных результатов.
            Благодаря вашей честности и вниманию к деталям, вы не только быстро сообщили нам о ситуации, но и подобрали
            честного партнёра для дальнейшего сотрудничества!
          </div>
          <div class="slider-default__footer">
            <div class="slider-default__name">
              Анна Полякова
            </div>
            <div class="slider-default__pos">
              Руководитель отдела маркетинга в мед центре
            </div>
          </div>
        </div>
        <div class="swiper-slide slider-default__slide fadeDown">
          <div class="slider-default__desc">
            Благодаря команде, с которой мы работали, наши проблемы с мобильной версией сайта были решены в считанные
            сроки. Мы обратились с жалобой, что мобильная версия не адаптируется под разные устройства и контент, и это
            серьезно тормозило работу. Студия, которую нам подобрали, полностью переделала мобильную версию, сделав её
            универсальной и комфортной для пользователей на любых устройствах. Всё работает стабильно, сайт стал удобным
            и функциональным, как и должно быть. Очень довольны результатом и профессионализмом команды! Спасибо за
            качественную работу!
          </div>
          <div class="slider-default__footer">
            <div class="slider-default__name">
              Илья Кузнецов
            </div>
            <div class="slider-default__pos">
              Сооснователь бренда одежды
            </div>
          </div>
        </div>



      </div>
      <div class="slider-default__arrows fadeDown">
        <div class="slider-default__arrow slider-default__arrow--prev ">
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow_left"></use>
          </svg>
        </div>
        <div class="slider-default__arrow slider-default__arrow--next">
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow_right"></use>
          </svg>
        </div>

      </div>


    </div>


  </div>
</section>
