<section class="section when-need">
  <div class="container">
    <div class="section-head section-head--big-margin">
      <h2 class="section-head__title fadeDown">
        Когда нужен ИТ-контроль
      </h2>
    </div>
    <div class="when-need__slider">


      <div class="when-need__grid swiper-wrapper">
        <div class="when-need-item fadeDown swiper-slide">
          <p class="when-need-item__desc">
            <span class="when-need-item__text-highlight">
              Впервые выбираете digital-агентство</span>, не понимаете, кому
            можно довериться и что от вас нужно
          </p>
        </div>
        <div class="when-need-item fadeDown swiper-slide">
          <p class="when-need-item__desc">
            <span class="when-need-item__text-highlight">Только приступили к разработке сайта:</span> выбрали
            подрядчика,
            заполнили бриф и составляете тз
          </p>
        </div>
        <div class="when-need-item fadeDown swiper-slide">
          <p class="when-need-item__desc">
            Процесс разработки встрял на месте: что-то делается, но <span class="when-need-item__text-highlight">проект
              не
              двигается</span>
          </p>
        </div>
        <div class="when-need-item fadeDown swiper-slide">
          <p class="when-need-item__desc">
            Агентство обещает рекордные показатели, которых надо ещё <span
              class="when-need-item__text-highlight">чуть-чуть подождать</span>
          </p>
        </div>
        <div class="when-need-item fadeDown swiper-slide">
          <p class="when-need-item__desc">
            Дедлайны сгорели, бабло потрачено, а <span class="when-need-item__text-highlight">сайт не сдан</span>
          </p>
        </div>

      </div>
    </div>

  </div>
</section>
