<section class="section works">
  <div class="container">
    <h2 class="section__title">
      ВЫПОЛНЕННЫЕ РАБОТЫ
    </h2>
  </div>
  <div class="swiper  clip-path-right works__main-slider-js  works__main-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide works__main-slide">
        <div class="works__main-slider-image">
          <img src="img/works/1.jpg" alt="">
        </div>
        <div class="works__main-slider-content">
          <div class="container">
            <div class="works__main-slider-info corner corner--default">
              <div class="works__main-slider-name">лицей №6</div>
              <div class="works__main-slider-location">Курск</div>
            </div>
          </div>
        </div>


      </div>
      <div class="swiper-slide works__main-slide">
        <div class="works__main-slider-image">
          <img src="img/works/2.jpg" alt="">
        </div>
        <div class="works__main-slider-content">
          <div class="container">
            <div class="works__main-slider-info corner corner--default">
              <div class="works__main-slider-name">Медасист</div>
              <div class="works__main-slider-location">Курск</div>
            </div>
          </div>
        </div>


      </div>
      <div class="swiper-slide works__main-slide">
        <div class="works__main-slider-image">
          <img src="img/works/3.jpg" alt="">
        </div>
        <div class="works__main-slider-content">
          <div class="container">
            <div class="works__main-slider-info corner corner--default">
              <div class="works__main-slider-name">Офисный центр</div>
              <div class="works__main-slider-location">Курск</div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="works__arrow works__arrow--next"></div>
    <div class="works__arrow works__arrow--prev"></div>
  </div>
  <div class="works__thumbs-container">
    <div class="container">
      <div thumbsSlider="" class="swiper works__thumbs works__thumbs--js mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide works__thumbs-item">
            <img src="img/works/1.jpg" alt="">
          </div>
          <div class="swiper-slide works__thumbs-item">
            <img src="img/works/2.jpg" alt="">
          </div>
          <div class="swiper-slide works__thumbs-item">
            <img src="img/works/3.jpg" alt="">
          </div>

        </div>
      </div>
    </div>
  </div>

</section>