// базовые подключения
@use "vars" as *;
@use "fonts" as *;
@use "settings" as *;
@use "mixins" as mixins;

// подключения компонентов страницы
@use "./components/button" as *;
@use "./components/header" as *;
@use "./components/burger" as *;
@use "./components/form" as *;
@use "./components/pagination" as *;
@use "./components/footer" as *;
@use "./components/modal" as *;
@use "./components/social" as *;
@use "./components/hero" as *;
@use "./components/about" as *;
@use "./components/history" as *;
@use "./components/production" as *;
@use "./components/tasks" as *;
@use "./components/advantages" as *;
@use "./components/works" as *;
@use "./components/corners" as *;
@use "./components/section" as *;
@use "./components/input" as *;
@use "./components/subscribe" as *;
@use "./components/reviews" as *;
@use "./components/quote" as *;
@use "./components/questions" as *;
@use "./components/map" as *;
@use "./components/thanks-window" as *;
@use "./components/page-head" as *;
@use "./components/breadcrumbs" as *;
@use "./components/banner" as *;
@use "./components/cards" as *;
@use "./components/sticker" as *;
@use "./components/tegs" as *;
@use "./components/best-works" as *;
@use "./components/contacts" as *;
@use "./components/simplebar" as *;
@use "./components/map-popup" as *;
@use "./components/main-contacts" as *;
@use "./components/ya-rating" as *;
@use "./components/procces" as *;
@use "./components/content-box" as *;
@use "./components/service" as *;
@use "./components/price-table" as *;
@use "./components/faq" as *;
@use "./components/actions" as *;
@use "./components/error-page" as *;
@use "./components/hero-inside" as *;
@use "./components/tzrs" as *;
@use "./components/factory" as *;
@use "./components/stats" as *;
@use "./components/partners" as *;
@use "./components/space" as *;
@use "./components/join" as *;
@use "./components/automation" as *;
@use "./components/partner-advantage" as *;
@use "./components/suport" as *;
@use "./components/capabilities" as *;
@use "./components/certs" as *;
@use "./components/complex" as *;
@use "./components/category" as *;
@use "./components/seo" as *;
@use "./components/select" as *;
@use "./components/catalog" as *;
@use "./components/why-we" as *;
@use "./components/comparison" as *;
@use "./components/profiles" as *;
@use "./components/skill" as *;
@use "./components/tabs" as *;
@use "./components/sku" as *;
@use "./components/main-menu" as *;
.clip-path-right,
.clip-path-right-init {
  position: relative;
  // clip-path: inset(0% 0% 0% 100%);
  // clip-path: inset(10% 10% 0 10%);
  clip-path: inset(10% 10% 0 10% round 0.75rem 0.75rem 0.75rem 0.75rem);
  transition: 0.75s cubic-bezier(0.4, 0.15, 0, 1);
  overflow: hidden;

  img {
    height: 100%;
    transform: scale(1.3);
    transform-origin: 50% 50%;
  }
  &.js-animated {
    // clip-path: inset(
    //   0 0 0 0 round var(--radius) var(--radius) var(--radius) var(--radius)
    // );
    clip-path: inset(0% 0% 0% 0%);
  }
}

.clip-path-right-wihout-parallax {
  position: relative;
  overflow: hidden;
  clip-path: inset(0% 0% 0% 100%);
}
.image-with-parallax {
  position: relative;
  overflow: hidden;
  img {
    height: 100%;
    transform: scale(1.2);
    transform-origin: 50% 50%;
  }
}
