// базовые подключения
@use "vars" as *;
@use "fonts" as *;
@use "settings" as *;
@use "mixins" as mixins;
// подключения компонентов страницы
@use "./components/header" as *;
@use "./components/burger" as *;
@use "./components/form" as *;
@use "./components/pagination" as *;
@use "./components/footer" as *;
@use "./components/modal" as *;
@use "./components/social" as *;
@use "./components/button" as *;
@use "./components/hero" as *;
@use "./components/about" as *;
@use "./components/history" as *;
@use "./components/production" as *;
@use "./components/tasks" as *;
@use "./components/advantages" as *;
@use "./components/works" as *;
@use "./components/corners" as *;
@use "./components/section" as *;
@use "./components/input" as *;
@use "./components/subscribe" as *;
@use "./components/reviews" as *;
@use "./components/quote" as *;
@use "./components/questions" as *;
@use "./components/map" as *;
@use "./components/thanks-window" as *;

.clip-path-right {
  position: relative;
  overflow: hidden;
  clip-path: inset(0% 0% 0% 100%);
  img {
    transform: scale(1.3);
    height: 100%;
    transform-origin: 50% 50%;
  }
}
